$books-arranged: "\f152";
$book-open: "\f120";
$book-arranged: "\f140";
$books-face: "\f157";
$shelve:  "\f114";
$books: "\e920";
$bar-code: "\e937";
$user: "\e971";
$users: "\e972";
$search: "\e986";
$set: "\e993";
$view: "\e908";
$send: "\e90a";
$delete: "\e901";
$calendar: "\e90c";
$double-gt: "\bb";
$double-lt: "\ab";
$pen: "\e907";
$id: "\f195";
$funnel: "\f185";
$home: "\e900";
$pin: "\e903";
$title: "\e935";
$publisher: "\e954";

.icon-books-arranged:before { content:"\f152";}
.icon-book-open:before { content:"\f120";}
.icon-book-arranged:before { content:"\f140";}
.icon-books-face:before { content:"\f157";}
.icon-shelve:before { content: "\f114";}
.icon-books:before { content:"\e920";}
.icon-bar-code:before { content:"\e937";}
.icon-user:before { content:"\e971";}
.icon-users:before { content:"\e972";}
.icon-search:before { content:"\e986";}
.icon-set:before { content:"\e993";}
.icon-view:before { content:"\e908";}
.icon-send:before { content:"\e90a";}
.icon-delete:before { content:"\e901";}
.icon-calendar:before { content:"\e90c";}
.icon-double-gt:before { content:"\bb";}
.icon-double-lt:before { content:"\ab";}
.icon-pen:before { content:"\f151";}
.icon-id:before { content:"\f195";}
.icon-home:before { content:"\e900";}
.icon-pin:before { content:"\e903";}
.icon-funnel:before { content:"\f185";}
.icon-title:before { content:"\e935";}
.icon-publisher:before { content:"\e954";}
.icon-mail:before { content:"\e90f";}
.icon-me:before { content:"\e902";}
.icon-logout:before { content:"\f1e3";}




