$main-color-lighter: #E0F7FA;
$main-color-light: #B2EBF2;
$main-color: #26C6DA;
$main-color-dark: #0097A7;
$main-color-darker: #00838F;
$ash: #CFD8DC;
$light-ash: #eceff1;
$dark-ash: #607d8b;
$deep-ash: #37474f;
$black: #444;
$white: #FAFAFA;
$alt-color: #00BFA5;
